<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>GYM Certifications</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/gym.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="bg-light">
 <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">GYM Certifications</h5>
	   <a href="#" th:href="@{/menu-principal}">
								<button type="button" class="btn btn-outline-success btn-lg">Register</button>
	   </a>
    </div>
	<!-- / #main-header -->
	<!-- / #main-header -->


	<section id="main-content">

		<div class="container">

		<form class="form-signin" th:action="@{logincheck}" method="POST">
			<input type="hidden" name="${_csrf.parameterName}"
				vale="${_csrf.token}" />
			<h2 class="form-signin-heading">Sign in!!!</h2>
			<label for="inputEmail" class="sr-only">Username</label> <input
				type="text" class="form-control" placeholder="Username"
				name="username" id="username" /> <label for="inputPassword"
				class="sr-only">Password</label> <input type="password"
				class="form-control" placeholder="Password" name="password"
				id="password" />
			<div th:if="${error != null}" class="aler alert-danger" role="alert">
				Invalid username or password</div>
			<div th:if="${logout != null}" class="aler alert-info" role="alert">
				Logout successfully</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				Sign in
			</button>
		</form>

	</div>
		
		
		<!-- / article -->

	</section>
	<!-- / #main-content -->
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>